.container-style {
  max-width: 40vw;
  min-height: 80vh;
  border: 1px solid black;
  background-color: #7fffd4;
  background-image: url("https://www.transparenttextures.com/patterns/white-diamond.png");
}
.header {
  background-color: #fffd7f;
}
.result {
  height: 15vh;
  font-size: 4rem;
  font-style: oblique;
}

h1 {
    font-size: 40px;
    font-style: italic;
    color: brown;
}
